###### Requirements without Version Specifiers ######
fastapi
uvicorn[standard]
rasterio
python-multipart
pdf2image
setuptools
rio-tiler
python-dotenv
poppler-utils
psycopg2-binary
boto3

###### Requirements with Version Specifiers ######